@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: Inter, system-ui;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    height: 1600px;
}

header {
    padding-top: 4vh;
}

img {
    max-width: 100%;
    height: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}

/* NAV */

.nav__container {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    font-weight: 900;
    text-decoration: none;
    color: #2a4367;
}

.logo__img {
    width: 40px;
    margin-right: 12px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.nav__link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 24px;
}

.nav__link-login {
    padding-left: 24px;
}

.nav__link-sign {
    color: #fff;
    background-color: #6415ff;
    border-radius: 25px;
    padding: 12px 32px;
    margin: 4px;
}

.nav__link-sign:hover {
    background-color: #3c0d99;
}

/* HEADER */

.header__container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}

.header__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 556px;
}

.header__img--wrapper {
    width: 60%;
    height: 100%;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    padding-top: 24px;
}

.header__para {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    font-weight: 400;
    padding: 32px 0;
    letter-spacing: 1px;
    line-height: 24px;
}

.header__signup {
    display: flex;
    justify-content: left;
    margin-bottom: 80px;
    margin-top: 5px;
    
}

.header__form {
    border: solid;
    color: #d6dee6;
    border-radius: 40px;
    padding: 8px 5px;
    border-width: 2px;
    display: flex;
    justify-content: left;
    overflow: hidden;
}




.header__form-input {
    padding-left: 30px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

::placeholder {
    color: #c7ced6;
    opacity: 1;
}

.header__form:hover {
    color: #a0aec0;
}

.header__form-input:focus {
    outline: none;
}




.header__form-button {
    background-color: #6415ff;
    color: #fff;
    border-radius: 40px;
    padding: 16px 40px;
    border: hidden;
    font-size: 16px;
    font-weight: 700;
}   

.header__form-button:hover {
    background-color: #3c0d99;
    cursor: pointer;
}

.header__img--trusted {
    width: 80%;
    opacity: 0.4;
    padding-top: 20px;
}

.header__our--trusted {
    text-align: left;
    opacity: 0.3;
    font-size: 14px;
    font-weight: 900;
}