@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: Inter, system-ui;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    height: 1600px;
}

header {
    padding-top: 4vh;
}

img {
    max-width: 100%;
    height: auto;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    color: #6415ff;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.title {
    font-size: 48px;
    color: #2a4367;
    font-weight: 900;
    letter-spacing: 0.4px ;
}

.para {
    font-size: 18px;
    color: #708BA1;
    font-weight: 500;
    line-height: 1.625;
    
}

.btn {
    color: #fff !important;
    background-color: #6415ff;
    border-radius: 25px;
    padding: 12px 32px;
    margin: 4px;
    text-decoration: none;
}

.btn:hover {
    background-color: #3c0d99;
}

/* NAV */

.nav__container {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    font-weight: 900;
    text-decoration: none;
    color: #2a4367;
}

.logo__img {
    width: 40px;
    margin-right: 12px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.nav__link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 24px;
}

.nav__link-login {
    padding-left: 24px;
}

/* HEADER */

.header__container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 556px;
}

.header__img--wrapper {
    width: 60%;
    height: 100%;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    padding-top: 24px;
}

.header__para {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    font-weight: 400;
    padding: 32px 0;
    letter-spacing: 1px;
    line-height: 24px;
}

.header__signup {
    display: flex;
    justify-content: left;
    margin-bottom: 80px;
    margin-top: 5px;
    
}

.header__form {
    border: solid;
    color: #d6dee6;
    border-radius: 40px;
    padding: 8px 5px;
    border-width: 2px;
    display: flex;
    justify-content: left;
    overflow: hidden;
}




.header__form-input {
    padding-left: 30px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

::placeholder {
    color: #c7ced6;
    opacity: 1;
}

.header__form-input:focus {
    outline: none;
}

.header__form:hover {
    color: #a0aec0;
}

.header__form-button {
    background-color: #6415ff;
    color: #fff;
    border-radius: 40px;
    padding: 16px 40px;
    border: hidden;
    font-size: 16px;
    font-weight: 700;
}   

.header__form-button:hover {
    background-color: #3c0d99;
    cursor: pointer;
}

.header__img--trusted {
    width: 80%;
    opacity: 0.4;
    padding-top: 20px;
}

.header__our--trusted {
    text-align: left;
    opacity: 0.3;
    font-size: 14px;
    font-weight: 900;
}

.header__form-input:focus .header__form-button:focus {
    font-size: 32px;
}

/* FEATURES */

#features {
    padding-top: 12vw;
}

.features__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;
}

.features__info-header {
    padding-bottom: 16px;
}

.features__info-title {
    padding-bottom: 16px;
}

.features__info-para {
    max-width: 576px;
}

.features__details {
    flex-wrap: wrap;
    display: flex;

}

.features__detail {
    display: flex;
    justify-content: center;
    width: calc(100% / 3);
    margin: 0px;
    text-align: left;
}

.detail__content {
    max-width: 211px;
    margin-left: 32px;
    padding-bottom: 64px;
}

.detail__wrapper {
    padding-top: 20px;
}

.features__row {
    flex-direction: column;
    max-width: 1024px;
}

.detail__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #274165;
    padding-bottom: 12px;
}

.detail__para {
    font-weight: 500;
    line-height: 2;
    font-size: 16px;
    color: #708BA1;
}

/* PROS */

#pros {
    padding-top: 12vw;
}

.pro {
    display: flex;
    margin-bottom: 64px;
}

.pro__text {
    width: 50%;
    margin: 0 20px;
}

.pro__img {
    width: 50%;
    margin: 0 20px;
}

.pro__header {
    font-size: 20px;
    padding-bottom: 24px;

}

.pro__title {
    padding-bottom: 24px;
}

.pro__para {
    padding-bottom: 48px;
}

.pro__button {
  font-style: none;
}

.pro__alt {
    display: flex;
    margin-bottom: 64px;
    padding-right: 64px;
}

.start__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.start__list-item {
    padding-bottom: 12px;
    padding-top: 16px;
    display: flex; 
    padding-left: 16px;
    max-width: 400px;
}

.li__number {
    font-weight: 600;
    line-height: 1;
    font-size: 36px;
    color: #CBD5E0;
}

.steps__text {
    padding-left: 56px;
    margin-bottom: 164px;
}

.steps__img {
    padding-top: 48px;
}

.li__text {
    padding-left: 32px;
}

.li__title {
    padding-bottom: 16px;  
    font-weight: 600;
    line-height: 1;
    font-size: 20px;
}

.li__para {
    line-height: 2;
    font-weight: 500;
    font-size: 14px;
    color: #708BA1;
}

.values {
    display: flex;
    margin-bottom: 64px;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 32px;
}

.value__header {
    display: flex;
    padding-bottom: 16px;
    align-items: center;
}

.value__title {
    padding-left: 12px;
    font-weight: 700;
    font-size: 20px;
    color: #243e63;
}

.value__para {
    line-height: 1.625;
    font-size: 16px;
    color: #708BA1;
    
}

.svg__money {
    background-color: #9ae6b4;
    color: #2b6c4d;
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 40%;
}

.svg__brief {
    background-color: #feb2b2;
    color: #9b2c2c;
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 40%;
}

/* PRICING */

#pricing {
    padding-top: 12vw;
}

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}

.pricing__header {
    padding-bottom: 32px;
    padding-right: 32px;
}

.pricing__title {
    padding-bottom: 32px;
}

.pricing__para {
    padding-bottom: 72px;
    max-width: 576px;
}

.prices {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.price {
    width: calc((100% /3) - (96px/3));
    height: 607.5px;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0, 0.1);
    display: flex;
    flex-direction: column;
    
}

.price__box-cost {
    display: flex;
    flex-directioN: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: #d6dee6;
    border-width: 2px;
}

.box__header {
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 48px;
}

.box__price {
    padding-bottom: 12px;
    font-size: 48px;
    font-weight: 700;
}

.box__monthly {
    padding-bottom: 32px;
    font-weight: 700;
    color:  #a0aec0;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.price__box-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid;
    border-color: #d6dee6;
    border-width: 2px;
}

.feature__title {
    margin: 32px 0px 16px 0;
    font-size: 20px;
    font-weight: 700;
}

.feature__text {
    color: #708BA1;
    font-weight: 500;
    padding: 12px 0;
}

.feature__text:last-child {
    padding: 12px 0 36px 0;
}



.price__middle {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4f57c4, #5f72df);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4f57c4, #5f72df); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 48px;
    color: #fff;
}   

.middle__monthly {
    color: #ece4eb;
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.middle__cost {
    border-color: #667eea;
}

.feature__text-middle {
    color: #dfdfed;
}

.middle__features {
    border-color: #667eea;
}

.price__box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.btn__pricing {
    color: #fff;
    border-radius: 25px;
    padding: 16px 64px;
    margin: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.btn-personal {
    background: rgb(66,185,178);
    background: linear-gradient(90deg, rgba(66,185,178,1) 0%, rgba(118,222,210,1) 100%);
}

.btn-business {
    background: #fff;
    color: #6e3dfe;
}

.btn-enterprise {
    background: rgb(246,111,111);
    background: linear-gradient(90deg, rgba(246,111,111,1) 0%, rgba(252,168,168,1) 100%);
}

.personal-top {
    background-color: rgb(66,185,178);
    background-color: linear-gradient(90deg, rgba(66,185,178,1) 0%, rgba(118,222,210,1) 100%);
    height: 8px;
    border-radius: 50px 50px 0 0;
}

.personal-enterprise {
    height: 8px;
    border-radius: 50px 50px 0 0;
    background: rgb(246,111,111);
    background: linear-gradient(90deg, rgba(246,111,111,1) 0%, rgba(252,168,168,1) 100%);
}